@import "@esri/calcite-components/main.css";

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

:root {
  --calcite-color-brand: hsl(235 18 36);
  --calcite-color-brand-hover: hsl(235 18 30);
  --calcite-color-brand-press: hsl(235 18 20);
}

.action-brand {
  --calcite-action-background-color: var(--calcite-color-brand);
  --calcite-action-background-color-hover: var(--calcite-color-brand-hover);
  --calcite-action-background-color-press: var(--calcite-color-brand-press);
  --calcite-action-text-color: var(--calcite-color-text-inverse);
  --calcite-action-text-color-press: var(--calcite-color-text-inverse);
}

calcite-block > form {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--calcite-space-md);

  .row {
    display: flex;
    flex-flow: row wrap;
    gap: var(--calcite-space-md);
  }
}
