@import "@esri/calcite-components/main.css";

* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}

:root {
  --calcite-color-brand: hsl(235 18 36);
  --calcite-color-brand-hover: hsl(235 18 30);
  --calcite-color-brand-press: hsl(235 18 20);
}

.action-brand {
  --calcite-action-background-color: var(--calcite-color-brand);
  --calcite-action-background-color-hover: var(--calcite-color-brand-hover);
  --calcite-action-background-color-press: var(--calcite-color-brand-press);
  --calcite-action-text-color: var(--calcite-color-text-inverse);
  --calcite-action-text-color-press: var(--calcite-color-text-inverse);
}

calcite-block > form {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--calcite-space-md);

  .row {
    display: flex;
    flex-flow: row wrap;
    gap: var(--calcite-space-md);
  }

  .downtime {
    border: var(--calcite-border-width-sm) solid
      var(--calcite-color-border-input);
    padding-block: var(--calcite-spacing-sm);
    padding-inline: var(--calcite-spacing-md);
  }

  .downtime-header {
    font-size: var(--calcite-font-size-md);
    font-weight: var(--calcite-font-weight-semibold);
    margin-inline-end: var(--calcite-spacing-sm);
  }

  .downtime-rule {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--calcite-space-md);
    align-items: center;
    justify-content: space-between;
    padding-block: var(--calcite-space-md);

    &:not(:last-child) {
      border-bottom: 1px solid var(--calcite-color-border-2);
    }
  }

  .downtime-flex {
    display: flex;
    flex-flow: row wrap;
    gap: var(--calcite-space-lg);

    calcite-switch {
      margin-block-start: var(--calcite-space-2xs);
    }
  }

  .downtime-flex-sm {
    gap: var(--calcite-space-sm);
  }
}
